{% extends "game/index.html" %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static 'game/css/logo.css' %}" type="text/css">
{% endblock%}
{% block content %}
    <h2 class="title-profile">Профиль пользователя {{ user_profile }}</h2>
    <hr>
    <p>
        <b>Имя пользователя:</b> {{ user_profile }}
        {% if user_profile.first_name %}
            <br>
            <b>Имя:</b> {{ user_profile.first_name }}
        {% endif %}
        {% if user_profile.last_name %}
            <br>
            <b>Фамилия:</b> {{ user_profile.last_name }}
        {% endif %}
    </p>
    {% if user_profile == user %}
        <a href="#">Настройка профиля</a>
    {% endif %}
{% endblock content %}
{% block scripts %}
  <script type="text/javascript" src="{% static 'game/js/logo.js' %}"></script>
{% endblock scripts %}
